Source: nextaw
Maintainer: Thomas E. Dickey <dickey@invisible-island.net>
Section: misc
Priority: optional
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13), yacc
Homepage: https://invisible-island.net/neXtaw/

Package: nextaw
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Xaw widget set like NeXT development package
 This is neXtaw, a modified version of the Athena Widgets with N*XTSTEP
 appearance. It is based on the Xaw3d 1.5 library by Kaleb S. Keithley.
